/* movie-view.scss */
.movie-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.movie-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.movie-details {
  max-width: 600px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.movie-details div {
  margin: 10px 0;
}

.movie-details span {
  font-weight: bold;
}

.movie-details span:last-child {
  margin-left: 10px;
}

/* Button Styles */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.button-container .back-button {
  background-color: #007bff;
  border-color: #007bff;
  margin: 0 5px;
  padding: 5px 15px;
}

.button-container .back-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button-container .favorite-button {
  background-color: #28a745;
  border-color: #28a745;
}

.button-container .favorite-button:hover {
  background-color: #218838;
  border-color: #218838;
}
